<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href="../css/about.css">
</head>
<body>
    <h1>My About</h1>  
</body>
<nav>
    <a href ='../index.html'>Home</a>
    <a href ='../views/about.html'>About</a>
    <a href ='../views/signup.html'>signup</a>
    <a href ='../views/table.html'>Table</a>
    <a href="./AdvanceCss.html">AdvanceCss</a>
    </nav>
<h1>About life in the new world</h1>
<!--add image from external path or url-->
<img class= "paradise-pics" src = "https://cms-imgp.jw-cdn.org/img/p/2021087/univ/art/2021087_univ_lsr_lg.jpg" alt="picture of live in paradice">
<!--adding image from our pc-->
<figure>
<img src="../image/2021087_univ_cnt_2_xl (1).jpg" alt="Me eating in paradise"
class = "paradise-pics">
<figcaption>Me eating in paradise</figcaption>
</figure>

<!--adding videos from external url or path-->
<iframe class="paradice-pics" width="531" height="304" src="https://www.youtube.com/embed/AQy_c30lNjI" title="How To Swim Freestyle | Technique For Front Crawl Swimming" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<figure>
<video controls src="../video/Intro to Java Programming - Course for Absolute Beginners(720P_HD).mp4" alt="java Programming"
class = "paradise-pics"></video>
<figcaption>java programming</figcaption>
</figure>

<!--audio from pc-->
<audio controls src="../audio/WHEN I SEE YOU - Dunsin Oyekan _dunsinoyekan _praise _worship _revival(MP3_160K).mp3"
class = "paradise-pics"></audio>

</html>
