<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Css</title>
    <link rel="stylesheet" type="text/css" href="../css/advanceCSS.css">
    <style type="text/css">
        .orange{
            color:green !important;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href ='../index.html'>Home</a>
        <a href ='../views/about.html'>About</a>
        <a href ='../views/signup.html'>signup</a>
        <a href ='../views/table.html'>Table</a>
        <a href="./AdvanceCss.html">AdvanceCss</a>
        </nav>
        <h1>Welcome To Advance Css Class</h1>
        <section class="section1">
            <h3 class="heading3">Here are some idea</h3>
        </section>
        <section class="section2">
            <h3 id="h3">Selector list</h3>
            <p class="disc">Lorem ipsum dolor sit amet consectetur.</p>
            <button>Read More</button>
        </section>
        <section class="section3">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, quos pariatur culpa alias totam ut 
                fugit at qui, perferendis dolore dolorem minus vero dignissimos nobis?</p>
        <button  class = "orange" style="color: orange;">View More</button>
            
            <!--
            a guide to specificity
            **** ways to adding css
            inline | 100
            internal | 50
            external | 30
            
            
            ***css selector
            > universal selector | 1
            > tagName | 5
            > class  | 10
            > attribute | 10
            > descendant | increase point
            > selector list | retain
            default points: .p,a,div
            > id | 100

           h6{
            color: red;
            }

            h6{
            color: blue;
            }
        -->
      <h6 id="h6" class="h6" > Heading 6</h6>
    </section>
    <section class="section4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam provident dolore corrupti, exercitationem nisi iste. Vero assumenda commodi atque, odio reiciendis 
            non enim temporibus omnis? Temporibus minus asperiores iusto!</p>
    </section>
    <section class="section5">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quisquam provident dolore corrupti, exercitationem nisi iste. Vero assumenda commodi atque, odio reiciendis 
            non enim temporibus omnis? Temporibus minus asperiores iusto!</p>
    </section>
        </body>
</html>