<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi placeat esse iste explicabo. Pariatur dolore doloremque esse 
            veniam, optio sapiente saepe tenetur labore consequuntur! Facere!</p>
    </div>
    <div class=" Responsive vw">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere optio deserunt quis laboriosam. Accusamus fuga reiciendis beatae porro eos voluptatem dolor animi
             autem. Sit ab voluptatum architecto nam, temporibus voluptatibus.</p>
    </div>
    <div class="rem">
        <p>This is Elitepath-REM</p>
    </div>
    <div class="em">
        <p>This is Elitepath-EM</p>
    </div>
    <div class="maxWidth">
        <h3>Fluid Layout</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae eveniet 
            optio minus dolore ad quidem ratione commodi quas veniam repellat!</p>
    </div>
    <div class="fluid-img">
        <img src="../image/2021087_univ_cnt_2_xl (1).jpg">
    </div>

    <!--DISPLAY PROPERTIES-->

    <!--inline-->
    <section>
    <div class="inline">
        <p>one</p>
        <p>two</p>
        <p>three</p>
        <p>four</p>
    </div>
    <div class="inline-block">
        <p>one</p>
        <p>two</p>
        <p>three</p>
        <p>four</p>
    </div>
    <!--block-->
    <div class="block">
        <span>Apple</span>
        <span>Banana</span>
        <span>Orange</span>
        <span>Pear</span>
    </div>
    </section>

    <section>
        <ol class="Nav">
            <li> Logo </li>
            <li class="group">
            <a href="">Home</a>
            <a href="">Blog</a>
            <a href="">Contact</a>
            </li>
            <li class="Menu"> Menu </li>
        </ol>
        <div class="flex">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
        </div>
        <div class="grid">
            <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti ratione beatae veritatis ullam, neque ea et voluptatum eaque culpa voluptates eos, quidem omnis vero blanditiis non! Debitis tenetur sequi beatae!
            </div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
        </div>
        <img src="../image/logo.svg" alt="logo">
        <img src="../image/user.svg" alt="user">
    </section>
</body>
</html>