<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>figma</title>
    <link rel="stylesheet" href="../css/figma.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
</head>
<body>

    <section class="section1"></section>
    <nav>
        <ul>
          <li><img src="../image/logo.svg" alt="logo"></li>
          <li class="group">
            <a href="/about">About me</a>
            <a href="/skills">Skills</a>
            <a href="/portfolio">Portfolio</a>
            <a class="contact" href="/contact">CONTACT ME</a>
          </li>
        </ul>
      </nav>

      <div id="Hero">
        <div class="boxa">
          <div class="hero-text">
            <h4>Hi, I am</h4>
            <h1 style="font-size: 40px">OSUALA SANDRA</h1>
            <p>font-end developer ul/designer</p>
          </div>
        </div>
      </div>
    </section>
      </body>
      </html>
 