<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <style>
        body{
            color: blue;
            padding:12rem;
            margin-bottom: 0.4rem;
            font-size: 0.8rem;
            background-color: rgb(red, green, blue);
            width:50%;
            height: 50%;
        }
        fieldset{
            border: 1px solid black;
            padding:5px;
            margin-bottom: 25px;
        }
        p{
            color: blue;
        
        }
    
    </style>
</head>
<body>
    <nav>
        <a href ='../index.html'>Home</a>
        <a href ='../views/about.html'>About</a>
        <a href ='../views/signup.html'>signup</a>
        <a href='../views/table.html'>Table</a>
        <a href="./AdvanceCss.html">AdvanceCss</a>
    </nav>
    <h1>signup</h1>
   <!-- <form id="form">
        <fieldset>
            <label for = "firstName">first Name</label>
            <input required placeholder = "john" type = "text" name = "firstName"
            id = "firstName">
        </fieldset>
        <fieldset>
            <label for = "lastName">last Name</label>
            <input required placeholder = "doe" type = "text" name = "lastName"
            id = "lastName">
        </fieldset>
        <fieldset>
            <label for = "email">Email</label>
            <input required placeholder = "johndoe@gmail.com" type = "text" name = "email"
            id = "email">
        </fieldset>
        <fieldset>
            <label for = "password">password</label>
            <input required title = "very strong password (number,small letter,captial letter,special character)" type = "password" name = "password"
            id = "password">
        </fieldset>
        <fieldset>
            <span>Gender:</span>
            <label for ="Male">Male</label>
            <input type ="radio" name="gender"
            id="male">
            <label for ="Female">Female</label>
            <input type="radio" name="gender"
            id="female">
     </fieldset>
     <fieldset>
        <span>Your hobbies:</span>
        <label for="Swimming">swimming</label>
        <input value="Swimming" type="checkbox"
        name="swimming" id="swimming">
        <label for="Eating">eating</label>
        <input value="Eating" type="checkbox"
        name="Eating" id="Eating">
        <label for="Coding">coding</label>
        <input value="Coding" type="checkbox"
        name="Coding" id="Coding">
        <label for="Others">others</label>
        <input value="Others" type="checkbox"
        name="others" id="others">
     </fieldset>
     <fieldset>
        <input required type="checkbox" name="terms"
        id="terms">
        <label for="terms">By clicking you accept our
            <a href="#">Terms & Conditions</a>
        </label>
     </fieldset>
        <button type = "submit">signup</BUTTon>
    </form> -->
    <form action ="id">
            <p>Please fill in this form to create an account.</p>
<hr>
    <fieldset>
        <label for = "lastName">Last Name:</label>
        <input required placeholder = "osuala" type = "text" name = "lastName"
        id = "lastName">
    </fieldset>
    <fieldset>
        <label for = "middleName">Middle Name:</label>
        <input required placeholder = "somtochukwu" type = "text" name = "middleName"
        id = "middleName">
    </fieldset> 
    <fieldset>
        <label for = "firstName">First Name:</label>
        <input required placeholder = "sandra" type = "text" name = "firstName"
        id = "userName">
    </fieldset> 
    <fieldset>
        <label for = "Email">Email:</label>
        <input required placeholder = "sandraosuala2@gmail.com" type = "text" name = "Email"
        id = "Email">
    </fieldset> 
    <fieldset>
        <label for = "password">password:</label>
        <input required title = "very strong password (number,small letter,captial letter,special character)" type = "password" name = "password"
        id = "password">
    </fieldset>
    <fieldset>
        <label for = "confirmPassword">Confirm Password:</label>
        <input required title = "very strong password (number,small letter,captial letter,special character)" type = "confirmPassword" name = "password"
        id = "confirmPassword">
    </fieldset>
    <fieldset>
        <label for = "birthday">Birthday:</label>
        <input type = "date"  name = "birthday"
        id = "birthday">
    </fieldset>
    <fieldset>
        <label for ="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9] {3} -[0-9] {3}-[0-9]{4}">
    </fieldset>
    <fieldset>
        <p class ='blue'>  <span>Gender:</span>
        <label for ="Male">Male:</label>
        <input type ="radio" name="gender"
        id="male">
        <label for ="Female">Female:</label>
        <input type="radio" name="gender"
        id="female"></p>
 </fieldset>
 <fieldset>
    <span>Your interests:</span>
    <label for="Sport">Sport</label>
    <input value="Sport" type="checkbox"
    name="sport" id="sport">
    <label for="Music">music</label>
    <input value="Music" type="checkbox"
    name="Music" id="Music">
    <label for="Coding">coding</label>
    <input value="Coding" type="checkbox"
    name="Coding" id="Coding">
    <label for="Others">others</label>
    <input value="Others" type="checkbox"
    name="others" id="others">
 </fieldset>
 <fieldset>
    <input required type="checkbox" name="terms"
    id="terms">
    <label for="terms">By clicking you accept our:
        <a href="#">Terms & Conditions</a>
    </label>
 </fieldset>
    <button type = "submit">signup</BUTTon>
    </form>

</body>
</html>
