<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uaes</title>
    <link rel="stylesheet" href="../css/uaes.css" />
</head>
<body>
    <section class="section1">
        <nav class="hide2">
            <ul>
              <li><img src="../image/uaes-logo.jpg" alt="logo" /></li>
              <li class="group">
                <a href="/Home">Home</a>
                <a href="/About">About</a>
                <a href="/Lecturers">Lecturers</a>
                <a href="/Skills">Skills</a>
                <a class="contact" href="/contact">CONTACT ME</a>
              </li>
               </ul>
          </nav>
          <nav class="hide3 tag">
            <img src="../image/logo.svg" alt="logo">
              <div class="dropdown">
                <button class="dropbtn">
                  <img src="../image/Group 8@2x.png" alt="tag">
                </button>
                <div class="dropdown-content">
                  <a href="/Home">Home</a>
                  <a href="/About">About</a>
                  <a href="/Lecturers">Lecturers</a>
                  <a href="/Skills">Skills</a>
                  <a class="" href="/contact">CONTACT ME</a>
                </div>
              </div>
        </nav> 
          </section>
          <section class="prtfolio">
            <div id="prtfolio">
            <div class="portfol">
              <h2> WELCOME: DEPARTMENT OF COMPUTER SCIENCE</h2>
            </div>
            <div class="filter">
              <ul class="ul">
                <li class="chosen">ALL</li>
                <li>CODED</li>
                <li>DESIGNED</li>
              </ul>
            </div>
        </div>
        <div class="maxWidth">
        <h3>WELCOME:Department Of Computer Science</h3>
        <br>
        <p>
            Welcome to the Department of Computer Science located in the University of Agriculture and Enviromental Science Umuagwo, the Premier Institution in Nigeria. The department was established in 2021 and was conceived as a means of training manpower to meet the demand for increasing computerization. The department trains students to create, adapt and manage computation tools that meet basic goals of correctness, efficiency, security, user-friendliness, fault-tolerance and intelligence.</p>
            <br>
            <p>It is my pleasure to extend a warm welcome to all students, faculty, staff, and visitors to our department's webpage.

              In today's rapidly evolving digital world, computer science plays a key role in driving innovation and technological advancements. We are committed to providing a comprehensive education that prepares our students to become leaders in this exciting field. Our curriculum is designed to offer a solid foundation in computer science principles while also embracing innovative technologies and practices.
              
              Our faculty members are distinguished scholars and industry experts with relevant experiences who are dedicated to excellence in teaching, research, and community services. They bring a wealth of knowledge and experience to the classroom, ensuring that our students receive a high-quality education that is both theoretical and practical. We offer a wide range of courses that cover foundational topics as well as emerging areas such as Cloud Computing, Artificial Intelligence, Software Engineering, Cybersecurity, Database Systems, Human Computer Interaction, Web Applications Security, Internet of Things (IoT), Computer Communications and Networks, Digital Forensics and Data Mining and Knowledge Discovery.</p>
              <br>
              <p>Beyond the classroom, our department is actively involved in research that addresses real-world challenges and contributes to the advancement of knowledge in computer science. We encourage our students to participate in research projects, internships, and collaborative initiatives that enhance their learning experience and prepare them for successful careers.
              
                Whether you are a prospective student, a current student, or a visitor, we invite you to explore our website and learn more about the exciting opportunities and resources available in our department. We are confident that you will find our programmes, research endeavours, and community to be intellectually stimulating and rewarding.
                
                Thank you for your interest in the Department of Computer Science at the University of Agriculture and Enviromental Science. We look forward to supporting you on your academic and professional journey.</p>
        </div>
        <div class ="structure">
          <h3> OUR STRUCTURE</h3>
        </div>
        <div class="projects">
          <div class="proj">
            <div class="img1 img"></div>
            <div class="img2 img"></div>
            <div class="img3 img"></div>
            <div class="img4 img"></div>
            <div class="img5 img"></div>
            <div class="img6 img"></div>
          </div>
        </div>
        <div class="fil">
          <h3>And many more to come!</h3>
        </div>
        <!-- <div class="maxWidth">
            <h4>Our lives would be unrecognizable without computing and electronics.</h4>
            <br>
           <p> The Computer Science discipline is unique because it provides a focus for convergence of technologies. Its uniqueness naturally defines its role and dictates its increasing relevance in several disciplines and modern practices and techniques. The scope of application of computer science in the modern scientific and technological context is, therefore, infinitely wide. Students are equipped in the Department and are thus encouraged to function, research and engage in collaborative projects in wide professional contexts.</p>
            <br>
           <p> To provide the enabling environment for the effective and efficient evolution of highly motivated staff and students with strong determination and impetus to compete globally. In consonance with the mission statement of the University, the Department is determined to advance the frontiers of research and academia in the perspective of information technology, by the development of internationally competitive manpower. From making businesses run smoothly to gaming and simulating behaviour, many everyday processes have a basis in computing, while advances in electronics have made the internet, innovative telecommunications and inexpensive computing possible. At UAES, Department of Computer Science, we teach and research at both undergraduate and postgraduate levels, in all these areas and more.</p>
            <br>
           <p>Our research is changing people’s lives and underpins tomorrow’s must-have technologies. Research and development has to stay one step ahead of the industry, so our curriculum is constantly evolving. Our work is driven by creativity and imagination as well as technical excellence – we’re not your typical geeks!</p>
           <br>
           <p>You’ll have a unique experience here, as well as inspiring purpose-built facilities, consistently top-ranking levels of student satisfaction, and a curriculum that is led by the needs of industry. Regardless of the study path you choose, you’ll develop the skills and principles for a rewarding career.</p>

        </div>
        <div class="purple1">
        <h3>OUR STRENGHT</h3>
        </div> -->
        <!-- <ul>
          <li class = 'purple'>Top 4 in nigeria ranking for student satifacation</li>
          <li class = 'purple'>Top 4 in Africa for computing rank</li>
          <li class = 'purple'>NUC full accrediation</li>
          <li class = 'purple'>High quality teaching</li>
          <li class = 'purple'>Specialist lab and facilities</li>
      </ul>
      <div class="maxWidth">
        <h3>OUR VISION</h3>
        <br>
      <p>To provide the enabling environment for the effective and efficient evolution of highly motivated staff and students with strong determination and impetus to compete globally.</p>
      <br>
      <h3>OUR MISSION</h3>
      <br>
      <p>In consonance with the mission statement of the University, the Department is determined to advance the frontiers of research and academia in the perspective of information technology, by the development of internationally competitive manpower.</p>
      </div> -->
      <div class="groupa">
        <h2 class="about">STUDENT REGISTERATION</h2>
      </div>
      <div class="groupf">
        <h5>
          Fill up the form carefully and complete your registration correctly before submitting
        </h5>
      </div>
      <div class="groupa">
        <img src="../image/uaes-logo.jpg" alt="seperate" />
      </div>
    <section class="login">
      <div class="log">
        <form>
          <input type="text" placeholder="ENTER YOUR NAME*" required />
          <input type="text" placeholder="ENTER YOUR EMAIL*" required />
          <input type="number" placeholder="MATRIC NUMBER*"  required />
          <input type="number" placeholder="PHONE NUMBER*"  required />
          <input type="number" placeholder="LEVEL*"  required />
          
        </form>
        <a href="N" class="btnexplore">SUBMIT</a>
      </div>
    </section>
</section>
<section class="footer">
  <div class="foot">
    <img class="arow" src="../image/ic_baseline-double-arrow.svg" alt="arrow">
    <a class="arro" href="#up">Jump to the top</a>
    <div class="socil">
      <a href="#">
        <img src="../image/Facebook.png" alt="facebook">
      </a>
      <a href="#">
        <img src="../image/LinkedIn.png" alt="Linkedein">
      </a>
      <a href="#">
        <img src="../image/email.png" alt="email">
      </a>
      <a href="#">
        <img src="../image/FooterIg.png" alt="email">
      </a>
    </div>
    <p class="copyright">@2024 OSUALA SANDRA All Rights Reserved</p>
  </div>
</section>
</section>
</body>
</html>


    </section>

</body>
</head>